  <!-- Site footer -->
  <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About the Developer Srivenkatesh Vasiraju</h6>
              <p class="text-justify">Creative and Skilled <i>Full-Stack Developer and Front-End Developer </i>with experience working on multiple frameworks and Platforms. Experience of 4 years in Web Development and building custom websites and Code on Primarily JavaScript and ASP .NET. Highly adaptable to Framework and Company Culture. Experienced in UI/UX Developer ,Technology Consultant with experience in Database architecture Design.</p>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Skills</h6>
              <ul class="footer-links">
                <li><a href="http://scanfcode.com/category/c-language/">HTML5, CSS3</a></li>
                <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
                <li><a href="http://scanfcode.com/category/back-end-development/">MERN Stack </a></li>
                <li><a href="http://scanfcode.com/category/java-programming-language/">PHP and Basic Laravel Framework</a></li>
                <li><a href="http://scanfcode.com/category/android/">MySQL, NoSQL, MongoDB</a></li>
                <li><a href="http://scanfcode.com/category/templates/">RESTful Routing</a></li>
              </ul>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="#">About Me</a></li>
                <li><a href="https://www.linkedin.com/in/srivenkatesh-vasiraju-6575b3152/">Contact Me</a></li>
                <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Git Hub</a></li>
                <li><a href="https://www.facebook.com/vasiraju.srivenkatesh">Facebook</a></li>
                
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; A MERN Stack Project 
           <a href="#">Srivenkatesh Vasiraju</a>.
              </p>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="https://www.facebook.com/vasiraju.srivenkatesh"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="linkedin" href="https://www.linkedin.com/in/srivenkatesh-vasiraju-6575b3152/"><i class="fa fa-linkedin"></i></a></li>   
              </ul>
            </div>
          </div>
        </div>
  </footer>